---
import Layout from '../layouts/Layout.astro';
import GithubIcon from '../components/icons/github.astro';
import LinkedInIcon from '../components/icons/linkedin.astro';
import EnvelopeIcon from '../components/icons/envelope.astro';
import ListIcon from '../components/icons/list.astro';
---

<Layout title="Samuel Fry" baseColor="mocha">
  <div
    class="relative before:absolute before:-bottom-2/3 before:-left-1/4 before:h-3/4 before:w-full before:rotate-12 before:bg-base after:absolute after:-bottom-2/3 after:left-1/4 after:h-3/4 after:w-full after:-rotate-12 after:bg-base"
  >
    <img class="h-80 w-full object-cover" src="/bg-photo.webp" alt="Keyboard" />
  </div>

  <div class="flex flex-col items-center gap-2">
    <div
      class="group relative -mt-20 before:absolute before:-left-1 before:top-1 before:h-full before:w-full before:rounded-full before:bg-gradient-to-r before:from-peach/60 before:to-transparent"
    >
      <img
        class="relative rounded-full border-2 border-surface2 transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-active:translate-x-0 group-active:translate-y-0"
        src="/profile.webp"
        alt="Samuel Fry"
        height="146"
        width="146"
      />
    </div>

    <main class="relative mt-4 flex w-full flex-col items-center">
      <h1 class="text-4xl">Samuel Fry</h1>
      <code class="mt-2.5 text-base text-peach">Web Developer</code>

      <div class="mb-16 mt-6 flex gap-4">
        <a
          target="_blank"
          href="https://github.com/samfry13"
          aria-label="Github"
        >
          <GithubIcon />
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/samuel-fry13/"
          aria-label="Linkedin"
        >
          <LinkedInIcon />
        </a>
      </div>

      <div
        class="relative flex w-full before:absolute before:left-0 before:right-0 before:h-px before:bg-gradient-radial before:from-gray-500 before:to-transparent"
      >
        <a
          class="relative flex flex-1 items-center justify-center gap-2 py-6 text-sm uppercase transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:w-px before:bg-gradient-to-b before:from-gray-500 before:to-transparent hover:bg-gradient-to-r hover:from-transparent hover:to-peach/60"
          href="/resume"
        >
          <ListIcon />
          Resume
        </a>
        <a
          class="flex flex-1 items-center justify-center gap-2 py-6 text-sm uppercase transition-colors hover:bg-gradient-to-r hover:from-peach/60 hover:to-transparent"
          href="mailto:sam@samuelfry.com"
        >
          <EnvelopeIcon />
          Contact Me
        </a>
      </div>
    </main>
  </div>
</Layout>
