---
import ResumeItem from '../components/ResumeItem.astro';
import ResumeSection from '../components/ResumeSection.astro';
import Layout from '../layouts/Layout.astro';
import PrintIcon from '../components/icons/print.astro';
import ChevronLeft from '../components/icons/chevronLeft.astro';
---

<Layout title="Samuel Fry - Resume">
  <main class="relative p-4 text-text print:p-0 print:pt-0">
    <a
      href="/"
      class="absolute left-4 top-4 rounded-lg p-2 text-subtext0 transition-all hover:bg-overlay2/20 print:hidden"
    >
      <ChevronLeft />
    </a>

    <button
      onclick="window.print()"
      class="absolute right-4 top-4 rounded-lg p-2 text-subtext0 transition-all hover:bg-overlay2/20 print:hidden"
    >
      <PrintIcon />
    </button>

    <section>
      <h1 class="text-center text-xl uppercase">Samuel <strong>Fry</strong></h1>
      <p class="text-center text-xs">
        <a href="mailto:sam@samuelfry.com">sam@samuelfry.com</a>
      </p>
    </section>

    <ResumeSection title="Employment">
      <ResumeItem
        title="Senior Software Engineer"
        company="Collectors"
        startDate="Mar 2022"
        endDate="Present"
        description="PSACard - Supporting and optimizing all of our marketing and user research pages"
        chips={['React', 'NextJS', 'Node', 'Storybook']}
      />

      <ResumeItem
        title="Software Engineer II"
        company="Collectors"
        startDate="May 2022"
        endDate="Mar 2024"
        description="Collectors ID - A single sign on platform to support all of the Collectors brands"
        chips={['React', 'NextJS', 'Okta', 'SSO']}
      />

      <ResumeItem
        title="Software Engineer II"
        company="Cameo"
        startDate="Jan 2022"
        endDate="May 2022"
        description="Building and testing experiments for the user experience pages"
        chips={['React']}
      />

      <ResumeItem
        title="Software Engineer"
        company="Principles: A Ray Dalio Company"
        startDate="May 2021"
        endDate="Jan 2022"
        description="Dot Collector - a real-time, micro-feedback system to create a continuous development culture"
        chips={['React', 'Redux']}
      />

      <ResumeItem
        title="Full Stack Developer"
        company="ZSoft, Inc."
        startDate="Mar 2019"
        endDate="May 2021"
        description="Building 4H management and learning software for groups across the US"
        chips={['React', 'Java', 'Postgres']}
      />

      <ResumeItem
        title="Assistant to Head of IT"
        company="J. Rueben Clark Law School, BYU"
        startDate="May 2017"
        endDate="Aug 2018"
        description="Scripting for analyzing and constructing a Corpus Linguistics Database"
        chips={['Perl', 'Microsoft Access']}
      />
    </ResumeSection>

    <ResumeSection title="Education">
      <ResumeItem
        title="Bachelor of Science in Computer Science"
        company="BYU"
        startDate="Aug 2016"
        endDate="Aug 2020"
      />
    </ResumeSection>

    <ResumeSection title="Personal Projects / Extracurricular Activities">
      <ul class="mt-2 list-outside list-disc pl-4 text-sm">
        <li>
          Maintain a self-hosted server using Proxmox, Docker, and Cloudflare
        </li>
        <li>
          Created a small desktop app to help me organize, optimize, and trim
          video clips
        </li>
        <li>
          Built a searchable image database for a costume reference archive to
          organize, tag, and view reference images for use in costume design
        </li>
      </ul>
    </ResumeSection>
  </main>
</Layout>
