---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section>
  <h1
    class="relative mt-4 pb-1 text-xl text-text before:absolute before:bottom-0 before:left-0 before:right-0 before:h-px before:bg-gradient-radial before:from-text before:to-transparent"
  >
    {title}
  </h1>
  <hr />

  <slot />
</section>
